header{
  background-color: #273e70;
}
nav{
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-top: 8px;
}
.profil {
  margin-left: 38rem;
  border-radius: 50%;
  padding-top: 8px;
}
.nav_links{
  padding-top: 8px;
}