header{
  background-color: #273e70;
}
nav{
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-top: .3em;
}
.nav_links img:first-child {
  margin-left: 1rem;
  border-radius: 60%;
  padding-top: 8px;
  width: 55px;
  height: 55px;
}
.nav_links img:last-child {
  margin-right: .5em;
  width: 45px;
  height: 50px;
}
