.left_section {
  border-radius: 5px;
  background-color: white;
  padding: 50px 50px;
  width: auto;
  height: 950px;
  text-align: center;
  display: flex;
}

.upper_side {
  width: 100%;
  height: auto;
}

#name {
  padding: 20px 0;
  font-size: 30px;
}

#my_groups {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.lower_side {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  
}

ul > li {
  list-style: none;
  padding-top: 0.5rem;
}

.follow_block {
  color: green;
  display: flex;
  justify-content: space-around;
  border-top: 2px rgb(0, 128, 0) solid;
  border-bottom: 2px green solid;
  text-align: start;
  padding: 20px 0;
}

.profile_picture {
  display: flex;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin: auto;
  object-fit: cover;
}

#inputFile {
  display: none;
}

.lower_side ul {
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 10px;
}

.display_groupe {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add_photo {
  display: flex;
  position: relative;
  z-index: 6;
  bottom: 1rem;
  left: 10rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

#name_responsive {
  display: none;
}