/**************************************/

/* IMPORT COMPONENTS CSS*/

@import url("components_CSS/01_header.css");
@import url("components_CSS/02_section_left.css");
@import url("components_CSS/03_section_right.css");
@import url("components_CSS/04_main.css");
@import url("components_CSS/05_footer.css");

/**************************************/

/* GLOBAL RESET CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************************************/
