/**************************************/

/* IMPORT COMPONENTS CSS*/

@import url("components_CSS/01_header.css");
@import url("components_CSS/02_section.css");
@import url("components_CSS/03_main.css");
@import url("components_CSS/04_footer.css");

/**************************************/

/* GLOBAL RESET CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************************************/
